@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Syne+Mono&display=swap');
/* CSS Document */
body{
	margin: 0;
}
div{
	text-align: -webkit-center;
	width: 270px;
	margin: 50% 0 0 15%; 
}
h1{
	text-align: center;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
}
i{
	margin: 0 10px 0 0;
}
label{
	font-family: 'Quicksand', sans-serif;
}
input{
    margin: 22px 0 0 0;
	border: none;
}
hr{
	width: 250px;
}
a{
	text-decoration: none;
    color: #B64DC8;
	font-family: 'Quicksand', sans-serif;
	margin: 17px 0 7px 0;
    display: block;
}
form{}
form input{
	width: 140px;
    height: 40px;
    border-radius: 10px;
    background-color: #000;
    color: #fff;
	font-family: 'Quicksand', sans-serif;
}
